---
Language:        Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveMacros: Consecutive
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentCaseLabels: true
InsertNewlineAtEOF: true
IndentAccessModifiers: false
InsertTrailingCommas: Wrapped
PackConstructorInitializers: NextLineOnly
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 160
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: false
SpaceAfterTemplateKeyword: false
BreakTemplateDeclarations: Yes
AlwaysBreakTemplateDeclarations: Yes
